In [1]:
import pandas as pd

## 기타 브랜드

In [ ]:
fake_age = 0

In [ ]:
# 원본 데이터 확인
fake_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      324 non-null    object
 1   그라운드플랜  324 non-null    float64
 2   셀인샷     324 non-null    float64
 3   쏘내추럴    324 non-null    float64
 4   에스네이처   324 non-null    float64
 5   연령대     324 non-null    object
dtypes: float64(4), object(2)
memory usage: 15.3+ KB

In [ ]:
# DF 구조 바꾸기
fake_melt = pd.melt(fake_age,id_vars=['날짜', '연령대'], value_vars=['그라운드플랜', '셀인샷', '에스네이처', '쏘내추럴'])

# DF 컬럼명 수정
fake_melt.rename(columns = {'variable':'브랜드', 'value':'관심도'}, inplace=True)

print(fake_melt.info())
fake_melt.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1296 non-null   object
 1   연령대     1296 non-null   object
 2   브랜드     1296 non-null   object
 3   관심도     1296 non-null   float64
dtypes: float64(1), object(3)
memory usage: 40.6+ KB
None

           날짜  연령대     브랜드       관심도
0  2024-02-05  10대  그라운드플랜  15.50387
1  2024-02-12  10대  그라운드플랜   8.52713
2  2024-02-19  10대  그라운드플랜   3.87596
3  2024-02-26  10대  그라운드플랜  12.40310
4  2024-03-04  10대  그라운드플랜   6.20155

In [ ]:
# 브랜드별 평균 관심도 확인 
fake_avg = fake_melt.groupby(['연령대', '브랜드'])['관심도'].mean()
fake_avg = fake_avg.reset_index()

print(fake_avg.info())
fake_avg.head()

   연령대     브랜드        관심도
0  10대  그라운드플랜   5.096178
1  10대     셀인샷  15.905824
2  10대    쏘내추럴  27.720352
3  10대   에스네이처  64.585123
4  20대  그라운드플랜  10.626208

In [ ]:
# avg df에 날짜 컬럼 삽입 및 순서 변경
# 날짜 = '총합' 추가 -> 연령별 각 브랜드의 관심도 평균 확인 가능
fake_avg['날짜'] = '총합'
fake_avg = fake_avg[['날짜', '연령대', '브랜드', '관심도']]

fake_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      24 non-null     object
 1   연령대     24 non-null     object
 2   브랜드     24 non-null     object
 3   관심도     24 non-null     float64
dtypes: float64(1), object(3)
memory usage: 896.0+ bytes

In [ ]:
# melt & avg df 병합
fake_age_df = pd.concat([fake_avg, fake_melt])
fake_age_df.info()

# 분류 필터를 위한 분류 컬럼 생성
fake_age_df['대분류'] = '스킨케어'
fake_age_df['중분류1'] = '기타'

fake_age_df.head()

# 통합시 한번에 저장하기 위한 함수
all_age_list(fake_age_df)

<class 'pandas.core.frame.DataFrame'>
Index: 1320 entries, 0 to 1295
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1320 non-null   object
 1   연령대     1320 non-null   object
 2   브랜드     1320 non-null   object
 3   관심도     1320 non-null   float64
dtypes: float64(1), object(3)
memory usage: 51.6+ KB

   날짜  연령대     브랜드        관심도   대분류 중분류1
0  총합  10대  그라운드플랜   5.096178  스킨케어   기타
1  총합  10대     셀인샷  15.905824  스킨케어   기타
2  총합  10대    쏘내추럴  27.720352  스킨케어   기타
3  총합  10대   에스네이처  64.585123  스킨케어   기타
4  총합  20대  그라운드플랜  10.626208  스킨케어   기타

In [ ]:
# 원본 데이터 저장
fake_age_df.to_csv('기타_연령별선호도.csv', index=False, encoding="utf-8-sig")